/*************************************************
    GENERICS
 *************************************************/



/*************************************************
    UTILITIES
 *************************************************/



/*************************************************
    CONTENT
 *************************************************/
#most-wanted{
    background-image: url(img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position-x: left;
}