/*************************************************
    GENERICS
 *************************************************/



/*************************************************
    UTILITIES
 *************************************************/
 .ae-w-75px{
    width: 75px;
}

.ae-btn{
    border-radius: 25px;
}

.ae-bg-orange{
    background-color: #cd3d0f;
}

.btn.ae-bg-orange.ae-btn:hover{
    background-color: #cd3d0f;
}

.ae-w-10px{
    width: 10px;
}

.ae-wmax-sm{
    max-width: 540px;
}

/*************************************************
    CONTENT
 *************************************************/
 header>nav.navbar a{
    color: black;
}

header>nav.navbar .ae-btn{
    padding-top: 5px;
}

 #most-wanted{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 4rem;
}

header .dropdown-menu.show{
    display: flex;
}

header .dropdown-item:hover{
    background-color: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#new-releases{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ps-plus{
    background-color: #bebcbb;
}

#ps-now{
    background-color: #161c3b;
}

footer{
    background-color: #00439c;
}

footer a{
    text-decoration: none;
}

footer li{
    list-style: none;
}
