/*************************************************
    GENERICS
 *************************************************/



/*************************************************
    UTILITIES
 *************************************************/
 .ae-w-75px{
    width: 75px;
}

.ae-btn{
    border-radius: 25px;
}

.ae-bg-orange{
    background-color: #cd3d0f;
}

/*************************************************
    CONTENT
 *************************************************/
 header>nav.navbar a{
    color: black;
}

header>nav.navbar .ae-btn{
    padding-top: 5px;
}

 #most-wanted{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 4rem;
}

header .dropdown-menu.show{
    display: flex;
}

#new-releases{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ps-plus{
    background-color: #bebcbb;
}

#ps-now{
    background-color: #161c3b;
}
